data/custom/repositories/*
data/custom/*
!data/custom/repositories/
!data/custom/repositories/pyproject.toml
!data/custom/repositories/.github/
!data/custom/repositories/.github/agents/
!data/custom/repositories/.github/agents/**
data/default
tmp/*
.devcontainer/.vscode/settings.json
.devcontainer/workspace/*
!.devcontainer/workspace/.gitkeep
