data/custom/repositories/*
data/custom/*
!data/custom/repositories/
!data/custom/repositories/pyproject.toml
!data/custom/repositories/test-development-instructions.md
data/default
tmp/*
.devcontainer/.vscode/settings.json
.devcontainer/workspace/*
!.devcontainer/workspace/.gitkeep
