services:
  odoo:
    image: $ODOO_IMAGE:$ODOO_MINOR
    command: sleep infinity
    container_name: odoo-${ODOO_VERSION}
    volumes:
      - ./data/custom:/home/odoo/custom
      # - default:/home/odoo/src
      - odoo_data:/home/odoo/data
    labels:
      - traefik.enable=true
      - traefik.docker.network=adhoc
      - traefik.http.services.odoo-${ODOO_VERSION}.loadbalancer.server.port=8069
      - traefik.http.routers.odoo-${ODOO_VERSION}.service=odoo-${ODOO_VERSION}
      - traefik.http.routers.odoo-${ODOO_VERSION}.entrypoints=web
      - traefik.http.routers.odoo-${ODOO_VERSION}.rule=Host(`$DOMAIN`) || HostRegexp(`^[a-z0-9_-]+.$DOMAIN$`)
      # solo activar si se va a trabajar con workers (workers != 0)
      # longpolling / websocket
      # - traefik.http.services.long-${ODOO_VERSION}.loadbalancer.server.port=8072
      # - traefik.http.routers.long-${ODOO_VERSION}.rule=Host(`$DOMAIN`) || HostRegexp(`^[a-z0-9_-]+.$DOMAIN$`) && (PathPrefix(`/longpolling`) || PathPrefix(`/websocket`))
      # - traefik.http.routers.long-${ODOO_VERSION}.entrypoints=web
      # - traefik.http.routers.long-${ODOO_VERSION}.service=long-${ODOO_VERSION}
    environment:
      CUSTOM_CONFIG: |-
        [options]
      CUSTOM_REQUIREMTNS: |-
        # custom pip librearies
      CUSTOM_ENTRYPOINT: |-
        #!/bin/bash
        # pip install --user --no-cache-dir -e /home/odoo/custom/odoo
        # pip install --user --no-cache-dir pyopenssl
      SMTP_SERVER: mailhog
      SMTP_PORT: 1025
      DBFILTER: ${DBFILTER}
      SERVER_WIDE_MODULES: ${SERVER_WIDE_MODULES}
      MAX_CRON_THREADS: ${MAX_CRON_THREADS}
      WORKERS: ${WORKERS}
      LIST_DB: ${LIST_DB}
      WITHOUT_DEMO: ${WITHOUT_DEMO}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      PROXY_MODE: ${PROXY_MODE}
      SERVER_MODE: ${SERVER_MODE}
      AEROO_DOCS_HOST: ${AEROO_DOCS_HOST}
      LIMIT_TIME_REAL_CRON: ${LIMIT_TIME_REAL_CRON}
      LIMIT_TIME_REAL: ${LIMIT_TIME_REAL}
      UNACCENT: ${UNACCENT}
      ODOO_UPGRADE_PATH: ${ODOO_UPGRADE_PATH}
      IGNORE_SRC_REPOSITORIES: ${IGNORE_SRC_REPOSITORIES}
      ODOOLY_SSL_UNVERIFIED: "True"
      LIMIT_MEMORY_SOFT: "3147484000"
      LIMIT_MEMORY_HARD: "4777721600"
      WAIT_PG: "false"
      ADHOC_ANALYTIC_ACCOUNT: "development"
      ADHOC_DATABASE: "development"
    dns:
      # - "8.8.8.8"
      - "172.60.0.10"
    networks:
      adhoc:
        ipv4_address: 172.60.0.${ODOO_VERSION}
      minikube:

volumes:
  odoo_data:
  default:

networks:
  adhoc:
    name: adhoc
    external: true
  minikube:
    name: minikube
    external: true
